<p-toast></p-toast>
<div class="card">
  <div class="header-card">
    <h1>{{ titulo }}</h1>
  </div>
  <form class="form" [formGroup]="formGroup">
    <input
      formControlName="nome"
      type="text"
      placeholder="Nome"
      [ngModel]="formularioValues.nome"
      required
      pInputText
    />

    <input
      formControlName="sobrenome"
      id="float-input"
      required
      type="text"
      placeholder="Sobrenome"
      [ngModel]="formularioValues.sobrenome"
      pInputText
    />

    <input
      formControlName="rua"
      required
      id="float-input"
      type="text"
      placeholder="Rua"
      [ngModel]="formularioValues.rua"
      pInputText
    />

    <input
      formControlName="bairro"
      required
      id="float-input"
      type="text"
      placeholder="Bairro"
      [ngModel]="formularioValues.bairro"
      pInputText
    />

    <input
      formControlName="numero"
      required
      id="float-input"
      type="text"
      placeholder="Número"
      [ngModel]="formularioValues.numero"
      pInputText
    />

    <input
      formControlName="complemento"
      required
      id="float-input"
      type="text"
      placeholder="Complemento"
      [ngModel]="formularioValues.complemento"
      pInputText
    />

    <input
      formControlName="cep"
      required
      id="float-input"
      type="text"
      placeholder="Cep"
      [ngModel]="formularioValues.cep"
      pInputText
    />

    <input
      formControlName="cidade"
      required
      id="float-input"
      type="text"
      placeholder="Cidade"
      [ngModel]="formularioValues.cidade"
      pInputText
    />

    <input
      formControlName="estado"
      required
      id="float-input"
      type="text"
      placeholder="Estado"
      [ngModel]="formularioValues.estado"
      pInputText
    />
  </form>
  <div class="buttons">
    <div *ngIf="instancia == 'cadastro'">
      <button
        (click)="salvarCadastro()"
        pButton
        type="button"
        class="p-button-outlined"
      >
        Salvar Cadastro
      </button>
    </div>
    <div *ngIf="instancia == 'edicao'">
      <button
        (click)="salvarEdicao()"
        pButton
        type="button"
        class="p-button-outlined"
      >
        Salvar Edição
      </button>
    </div>
  </div>
</div>
