.card {
  margin: 10px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px black;
}

.header-table {
  display: flex;
  align-items: center;
}

.acoes {
  width: 100px;
}

:host .p-button {
  width: 30px;
  height: 30px;
  font-size: 2px;
}

.header-card {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.acoes :last-child {
  margin-left: 8px;
}
